@model List<DependencyInjection.Models.ProductViewModel>;

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

@foreach (var product in Model)
{
    <p>@product.Id @product.Name</p>
}

<h3>Transient Service</h3>
@ViewBag.message1
<br>
@ViewBag.message2


<h3>Scoped Service</h3>
@ViewBag.message3
<br>
@ViewBag.message4

<h3>Singleton Service</h3>
@ViewBag.message5
</br>
@ViewBag.message6